/* abeezee-regular - latin */
@font-face {
    font-family: 'dinPro';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/DINPro.eot'); /* IE9 Compat Modes */
    src: local('dinPro'), local('dinPro'),
    url('../fonts/DINPro.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/DINPro.ttf') format('truetype'); /* Safari, Android, iOS */
}

* {
    font-family: 'dinPro', sans-serif;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
}

body::-webkit-scrollbar {
    width: 7px;
    -webkit-box-shadow: inset 0px 1px 3px 0px white;
}

body::-webkit-scrollbar-track {
    background-color: white;
    -webkit-box-shadow: inset 0px 1px 3px 0px #708cbb;
}

body::-webkit-scrollbar-thumb {
    background-color: #708cbb;
    background-image: -webkit-gradient(linear, left, right , from(#708cbb), to(grey));
    background-image: -webkit-linear-gradient(left, #708cbb, grey);
    background-image: -o-linear-gradient(left, #708cbb, grey);
    background-image: -webkit-gradient(linear, left top, right top, from(#708cbb), to(grey));
    background-image: linear-gradient(to right, #708cbb, grey);
    outline: 1px solid slategrey;
    border-radius: 50px;
}

input:focus,
textarea:focus,
button:focus {
    outline: none;
}

a,
a:hover,
a:active {
    color: inherit !important;
    text-decoration: none !important;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

.clear:after {
    display: table;
    clear: both;
    content: '';
}

.position-relative {
    position: relative;
}

.no-padd {
    padding: 0 !important;
}

.bor {
    border: 1px solid green;
}

.orange-txt {
    color: #F47821; /*orange*/
}

.black-txt {
    color: #222222; /*black*/
}

.grey-bg {
    background: #87878714; /*grey with opacity*/
}

.light-grey {
    background: #F7F5FA; /*light grey*/
}

.rounded-btn {
    border: none;
    border-radius: 50px;
    padding: 0 30px 0 0;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    cursor: pointer;
}

.btn-icon-block {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    padding: 20px;
    background: #87878714; /*grey with opacity*/
}

.btn-icon-block>i {
    font-size: 14px;
}

.content {
    max-width: 1200px;
    min-width: 320px;
    margin: 0 auto;
    padding: 0 15px;
}

#first-block {
    padding: 165px 0 142px;
    text-align: center;
}

.first-block-title {
    font-size: 48px;
    text-align: center;
    line-height: 54px;
    letter-spacing: -0.02em;
    margin-bottom: 24px;
}

.first-block-txt {
    color: #4A4556;
    margin-bottom: 48px;
}

.first-block-btn {
    /*-webkit-transition: background-color time;*/
    /*-moz-transition: prop time;*/
    /*-ms-transition: prop time;*/
    /*-o-transition: prop time;*/
    background-color: transparent;
    transition: background-color 1s;
}

.first-block-btn:hover {
    background-color: #87878714; /*grey with opacity*/
}

#banner-block {
    background-image: url("../img/banner.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
}

#skills-description-main-block{
    position: relative;
    height: 466px;
}

#skills-description-block {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    left: 0;
    right: 0;
    top: -70px;
    background: white;
    max-width: 972px;
    margin: 0 auto;
}

.skills-container {
    padding: 50px 60px 60px;
    width: 50%;
    border: 1px solid #EDEDED;
}

.skills-container-title {
    font-size: 12px;
    line-height: 19px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin-bottom: 12px;
}

.skills-container-txt {
    font-size: 24px;
    letter-spacing: -0.03em;
}

#about-us-block {
    padding-top: 80px;
    padding-bottom: 100px;
    max-width: 773px;
    margin: 0 auto;
}

.about-us-title {
    font-size: 48px;
    letter-spacing: -0.02em;
    margin-bottom: 24px;
}

.about-us-txt {
    color: #4E4D53;
    margin: 0;
}

#working-benefits-main-block {
    padding-top: 120px;
    padding-bottom: 160px;
}

.working-benefits-main-title {
    font-size: 40px;
    text-align: center;
    letter-spacing: -0.02em;
    margin-bottom: 60px;
}

#working-benefits-block {
    display: flex;
    flex-wrap: wrap;
}

.working-benefits-item {
    flex: 1;
}

.working-benefits-title {
    position: relative;
    font-size: 20px;
    margin-bottom: 50px;
}

.working-benefits-title:after {
    content: '';
    position: absolute;
    width: 24px;
    height: 1px;
    background: #F47821; /*orange*/
    left: 0;
    bottom: -26px;
}

.working-benefits-txt {
    color: #4E4D53;
    max-width: 326px;
}

.working-benefits-img {
    margin-bottom: 30px;
}

#about-you-main-block {
    background: #161616;
    padding-top: 100px;
    padding-bottom: 120px;
}

.about-you-title {
    font-size: 40px;
    line-height: 52px;
    text-align: center;
    letter-spacing: -0.02em;
    color: white;
    margin-bottom: 60px;
}

form {
    position: relative;
    margin: 0 auto;
    max-width: 663px;
}

.form-field-label {
    display: flex;
    align-items: center;
    line-height: 25px;
    letter-spacing: -0.01em;
    color: white;
}

.form-field-number {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px 26px;
    font-weight: 500;
    font-size: 20px;
    border: 1px solid #f7f8fa1f;
    border-radius: 50px;
    margin-right: 28px;
}

.form-field-block {
    position: relative;
}

.form-field {
    background: transparent;
    border: none;
    height: 40px;
    max-width: 575px;
    border-bottom: 2px solid #f7f8fa1f;
    width: 70%;
    width: -webkit-calc(100% - 87px);
    width: -moz-calc(100% - 87px);
    width: calc(100% - 87px);
    margin-left: 87px;
    margin-bottom: 28px;
    padding-top: 12px;
    padding-bottom: 12px;
    color: white;
    font-size: 24px;
}

textarea.form-field {
    height: 71px;
}

.form-field::placeholder,
.form-field::-webkit-input-placeholder,
.form-field::-moz-placeholder,
.form-field:-ms-input-placeholder,
.form-field:-moz-placeholder {
    font-size: 24px;
    line-height: 35px;
    letter-spacing: -0.01em;
    color: white;
    opacity: 0.3;
}

textarea {
    resize: none;
}

textarea::-webkit-scrollbar {
    width: 5px;
    -webkit-box-shadow: inset 0px 1px 3px 0px #f7f8fa1f;
}

textarea::-webkit-scrollbar-track {
    background-color: transparent;
}

textarea::-webkit-scrollbar-thumb {
    background-color: #F47821; /*orange*/
    border-radius: 50px;
}

.form-btn {
    font-size: 14px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    background: white;
    padding: 20px 0 16px;
    text-align: center;
    width: calc(100% - 87px);
    margin-left: 87px;
    max-width: 575px;
}

.validation-error {
    color: #F47821; /*orange*/
    font-size: 10px;
    font-style: italic;
    margin-left: 5px;
}
